* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(135, 135, 44);
}
#rb-header {
    background:rgb(190, 213, 222);
    color:rgb(0,0,0);
}
#rb-header {
    width: 100%;
    height: 14vh;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rb-logo {
    width: 140;
}
nav ul li {
    display: inline;
    list-style: none;
    margin: 10px 20px;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    position: relative;
}
nav ul li a >i {
    margin: 5px;
    font-size: 100%;
}
nav ul li a::after {
    content:'';
    width: 0;
    height: 3px;
    background: #0acd17;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.rb-header-text {
    margin-top: 15%;
    font-size: 30px;
}
.rb-header-text h1 {
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.rb-header-text:hover {
    color: rgba(34, 237, 0, 0.793);
    transition: .4s ease;
}
.rb-container {
    padding: 10px;
}
.rb-about {
    width: 100%;
    padding: 78 0px;
    background-color: rgb(72, 106, 128);
}
.rb-about img {
    margin: 50px 16px;
    width: 30em;
    height: 32em;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    border-radius: 25px;
}
.rb-about-text {
    width: 550px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: large;
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .rb-about-text h1 {
    text-transform:capitalize;
    font-size: 60px;
    margin: 20px;
}
 .rb-about-text h5 {
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 25px;
  
 }
 span {
    color: #fcf;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

 }
button {
    background-color: rgb(9, 142, 29);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    padding: 20px 30px;
    margin: 15px;
    transition: .4s ease;
}
button:hover {
    background-color:rgb(34, 36, 196);
    border: 2px solid rgb(142, 10, 10)(93,0,255);
    border-radius: 20px;
    cursor: pointer;
}

