* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*Section*/
section {
    padding: 25px 0;
}
.rb-container {
    padding-top: 10px;
}
/*Design for the "about" page*/
.rb-about {
    background-color: rgb(81, 123, 151);
}
.rb-about img {
    height: 30em;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    border-radius: 25px;
    margin-bottom: 5%;
}
.rb-about img:hover {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 5px rgb(29, 51, 54);
}
.rb-about-text {
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: justify;
}
.rb-main {
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.rb-about-text h1 {
    text-transform:capitalize;
    font-size: 50px;
    margin: 30px 0px;
    text-align: left;
    font-weight: 600;
}
.rb-about-text h5 {
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: 600;
}
/*Button*/
.rb-button {
    background-color: rgb(9, 142, 29);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    padding: 20px 30px;
    transition: .4s ease;
}
.rb-button:hover {
    background-color:rgb(34, 36, 196);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}