*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*Section*/
section {
    background-color: rgb(0, 0, 0);
    color: white;
}
/*Heading for table*/
h1 {
    text-align: center;
    padding: 5px;
}
/*Table design*/
.rb-table {
    background-color: rgb(185, 192, 188);
    width: 100%;
    min-height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rb-content {
   padding: 10px;
}
table, tr, td, th {
    border: 1px solid rgb(255, 255, 255) !important;
    border-collapse: collapse;
}
table {
    width: 90%;
}
th, td {
    margin: 5px;
    padding: 10px;
    color: white;
}
th {
    background-color: rgb(0, 0, 0);
}
td {
    background-color: rgb(37, 43, 38);
}
.rb-job {
    text-decoration: none;
    color:#ffffff;
}
td span a:hover{
    text-decoration: overline;
    color: rgb(41, 241, 22);
}
/*Only for small devices(phones)*/
@media (max-width: 768px) {
    /*Hide table thead on small devices with display*/
    thead {
       display: none;
    }
   .rb-table, tbody, tr, td {
       display: block;
    }
    tr {
        margin-bottom: 20px;
    }
    .rb-table {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*When the table is too narrow the code is used to display all columns in one row*/
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width:30%;
        text-align: center;
        font-weight: bold;
        margin: 10px;
    }
    td {
        padding: 0;
        padding-left: 30%;
        position: relative;
        color: rgb(255, 253, 253);
    }
    td  span {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: aliceblue;
        color: black;
        text-align: justify;
    }
    /*Color of job links for better visibility*/
    .rb-job {
        color: black;
    }
}