* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
} 
/*Section*/
.rb-section-history {
    background-color: #e2eecf;
}
.rb-text {
    width: 100%;
}
.rb-heading-text {
    text-align: center;
    margin-top: 3%;
}
.rb-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.rb-card {
    background-color: rgb(79, 206, 92);
    border-radius: 15px;
    width: 325px;
    margin:15px;
    box-shadow: 8px 5px rgb(34, 48, 34);
}
.rb-card:hover {
    cursor: pointer;
    transform: translateY(-10px); 
    transition: all ease 0.5s;
}
.rb-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.rb-card-content {
    padding: 16px;
    text-align: center;
}
.rb-card-content h3 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.rb-card-content p {
    color: rgb(1, 1, 52);
    text-align: justify;
}
.rb-card-content button:hover {
    transform: rotate(360deg);
    background-color: rgb(49, 144, 8);
    color: black;
    transition: .5s ease;
}
.rb-card-content:hover {
    color: red;
    background-color: rgb(184, 250, 184);
}
button a {
    text-decoration:none;
    color: white;
}
