* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
} 
/*Section switch checkbox */
.rb-switch {
   position: relative;
   display: inline-block;
   width: 5%;
   height: 15%;
   position: center;
   margin-top: 3%;
}
.rb-switch #rb-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
.rb-slider {
    position: absolute;
    cursor: pointer;
    top: -20%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(243, 243, 243);
    transition: .4s;
    border-radius: 30%;
}
.rb-slider::before {
    position: absolute;
    content: "";
    height: 70%;
    width: 30%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 100%;
    transition: .4s;
}
#rb-checkbox:checked + .rb-slider {
    background-color: rgb(62, 240, 39);
}
#rb-checkbox:checked + .rb-slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}
/*Cards*/
.rb-section-history {
    background-color: #e2eecf;
}
.rb-text {
    width: 100%;
}
.rb-heading-text {
    text-align: center;
    margin-top: 3%;
}
.rb-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.rb-card {
    background-color: rgb(79, 206, 92);
    border-radius: 15px;
    width: 325px;
    margin:15px;
    box-shadow: 8px 5px rgb(34, 48, 34);
}
.rb-card:hover {
    cursor: pointer;
    transform: translateY(-10px); 
    transition: all ease 0.5s;
}
.rb-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.rb-card-content {
    padding: 16px;
    text-align: center;
}
.rb-card-content h3 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.rb-card-content p {
    color: rgb(1, 1, 52);
    text-align: justify;
}
.rb-card-content button:hover {
    transform: rotate(360deg);
    background-color: rgb(49, 144, 8);
    color: black;
    transition: .5s ease;
}
.rb-card-content:hover {
    color: red;
    background-color: rgb(184, 250, 184);
}
button a {
    text-decoration:none;
    color: white;
}
