*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/*Section*/
.rb-section-text {
    background-color: rgb(61, 123, 132);
}
.rb-section-text h1 {
    color: azure;
    height: 80vh;
    margin-left: 10%;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.rb-section-text img {
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    height: 50vh;
    margin: 20% 5% 20% 5%;
}
.rb-section-text h1:hover {
    color: rgba(34, 237, 27, 0.793);
    transition: .3s ease;
    transform: rotate(360deg);
}
.rb-section-text img:hover {
    border: 3px solid rgb(1, 20, 43);
    border-radius: 10%;
    box-shadow: 5px 5px rgb(4, 22, 88);
}
