*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
/*Section*/
section {
    background-color: rgb(129, 175, 182);
}
.rb-section-text h1 {
    color: azure;
    height: 60vh;
    margin-left: 10%;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.rb-section-text img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    margin: 25% 5% 25% 5%;
    width: 100%;
    border-radius: 3%;
}
.rb-section-text h1:hover {
    color: rgba(18, 10, 122, 0.793);
    transition: .3s ease;
    transform: rotate(360deg);
}
.rb-section-text img:hover {
    border: 3px solid rgb(1, 20, 43);
    border-radius: 15%;
    box-shadow: 2px 4px rgb(4, 22, 88);
}
@media only screen and (max-width: 576px){
    .rb-section-text img {
        margin: 0px 0px 5px 0px;
    }
}