*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
/*Section*/
section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../fotot/index-image.jpg);
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}
.rb-section-contain h1 {
    color: azure;
    height: 60vh;
    margin-left: 10%;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.rb-section-contain img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    margin: 25% 8% 25% 5%;
    width: 90%;
    border-radius: 3%;
}
.rb-section-contain h1:hover {
    color: rgba(0, 0, 0, 0.793);
    transition: .5s ease;
    transform: rotate(360deg);
}
.rb-section-contain img:hover {
    border: 3px solid rgb(1, 20, 43);
    border-radius: 15%;
    box-shadow: 2px 4px rgb(207, 50, 11);
}
@media only screen and (max-width: 576px){
    .rb-section-contain h1 {
        color: rgb(110, 67, 1);
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../fotot/index-image.jpg);
        background-size: cover;
        z-index: -1;
        filter: blur(70px);
    }
}