*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
/*Section*/
section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../fotot/index-image.jpg);
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}
.rb-section-contain .rb-btn h1  {
    color: rgb(0, 0, 0);
    height: 60vh;
}
.rb-group {
    text-align: center;
    margin: 50% 10%;
}
.rb-btn:hover {
    box-shadow: 2px 5px #a08018;
}
.rb-btn a {
    color: white;
    text-decoration: none;
}
.rb-section-contain img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    margin: 25% 8% 25% 5%;
    width: 90%;
    border-radius: 3%;
}
.rb-section-contain h1:hover {
    color: rgba(236, 202, 48, 0.793);
    transition: .5s ease;
    transform: rotate(360deg);
}
.rb-section-contain img:hover {
    border: 3px solid rgb(1, 20, 43);
    border-radius: 15%;
    box-shadow: 2px 4px #cf320b;
}
@media only screen and (max-width: 576px){
    .rb-section-contain h1 {
        color: rgba(233, 37, 11, 0.644);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rb-group {
        margin: 70% 10% 50% 10%;
    }
    section::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../fotot/index-image.jpg);
        background-size: cover;
        z-index: -1;
        filter: blur(530px);
    }
    .rb-section-contain h1:hover {
        transform: rotate(360deg);
    }
}
