* {
    margin: 0 auto;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(146, 208, 188);
}
/*Section*/
.rb-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.rb-card {
    width: 345px;
    background-color: rgb(79, 206, 92);
    border-radius: 10px;
    margin: 20px;
}
.rb-card img {
    width: 100%;
    height: auto;
}
.rb-card-content {
    padding: 16px;
    text-align: center;
}
.rb-card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: 700;
}
.rb-card-content p {
    color: rgb(1, 1, 52);
}
.rb-card-content button:hover {
    transform: rotate(360deg);
    background-color: rgb(49, 144, 8);
    color: black;
    transition: .5s ease;
}
.rb-card-content:hover {
    color: red;
    background-color: rgb(231, 255, 231);
}