*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(119, 219, 186);
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rb-content {
   width: 800px;
   padding: 10px;

}
table {
    width: 100%;
    border-collapse: collapse;


}
th, td {
    border: 1px solid #000000;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}
th {
    background-color: blueviolet;
    color: blanchedalmond;
}
td {
    background-color: rgb(162, 118, 204);
    color: #fffafa;
}
@media (max-width: 768px){
    thead {
       display: none;
   }
   .rb-table, tbody,tr, td {
       display: block;
       width: 100%;
    }
    tr {
        margin-bottom: 20px;

    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width:30%;
        text-align: center;
        padding: 10px 0 10px 10px;
        font-weight: bold;
    }
    td {
        padding: 0;
        padding-left: 30%;
        position: relative;
        background-color: aquamarine;
        color: black;
    }
    td  span {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: aliceblue;
        color: black;
    }
}
.rb-job {
    text-decoration: none;
    color: beige;
}
