* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*Section*/
#rb-section {
    background-color: rgb(235, 229, 229);
}
.rb-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    position: center;
}
.rb-group .rb-section-text {
    color: rgb(11, 5, 17);
    padding: 0px 0px 20px 30px;
}
.rb-group .rb-content {
    padding: 0px 20px;
    border-left: 2px solid rgb(13, 2, 31);
}
.rb-group .rb-content .rb-box {
    position: relative;
    padding: 20px;
    border: 2px solid rgb(1, 30, 31);
    background-color: rgb(255, 255, 255);
    transition: all 0.4s;
    margin-bottom: 20px;
    text-align: justify;
}
.rb-group .rb-content .rb-box:hover {
    box-shadow: 0px 3px 12px 0px black;
    border: 1px solid transparent;
}
.rb-group .rb-content .rb-box::before {
    content: "";
    position: absolute;
    width: 3%;
    height: 8%;
    border-radius: 90%;
    right: calc(100% + 5%);
    margin-top: -6%;
    background-color: rgb(224, 205, 207);
    border: 1px solid rgb(17, 17, 17);
    margin-right: -2.3%;
    top: 10%;

}
.rb-box::before {
    margin: 0% 1.5%;
    top: 0;
}
.rb-box h3 {
    font-size: 20px;
    padding: 10px 0px 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.box p {
    color:rgb(11, 5, 17);
    line-height: 1.0;
    font-size: 16px;
}
@media only screen and (max-width: 768px){
    .rb-main {
        grid-template-columns: 1fr;
    }
    .rb-main .rb-group:nth-child(4) {
        margin-top: 20px;
    }
    .rb-box::before {
        margin: -4% -5% 0% 0%;
    }
}
@media only screen and (max-width: 567px){
    .rb-box::before {
        margin: -5% 3% 0% 0%;
        top: 0;
    }
}
