* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*Section*/
#rb-terms-section {
    background-color: rgb(247, 215, 210);
}
.rb-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}
.rb-group .rb-section-text {
    color: rgb(11, 5, 17);
    margin: 5% 5% 0% -4%;
}
.rb-section-text:hover {
    text-decoration: underline;
    text-decoration-color: red;
}
/*Color of font when is hover*/
i.rb-font:hover {
    color: red;
}
.rb-group .rb-content {
    padding: 0px 20px;
    border-left: 3px solid rgb(0, 0, 0);
}
/*Design of border color when is hover*/
.rb-content:hover {
    border-left-color: red;
}
/*Design of content the box*/
.rb-group .rb-content .rb-box {
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all 0.4s;
    margin-bottom: 20px;
    text-align: justify;
}
/*Design of box when is hover*/
.rb-group .rb-content .rb-box:hover {
    box-shadow: 0px 3px 12px 0px rgb(241, 46, 46);
    border: 10px solid transparent;
}
.rb-box h3 {
    font-size: 20px;
    padding: 10px 0px 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.rb-box p {
    color:rgb(11, 5, 17);
    line-height: 1.0;
    font-size: 16px;
}
/*Only for small devices(phones)*/
@media only screen and (max-width: 768px){
    .rb-main {
        grid-template-columns: 1fr;
    }
    .rb-group {
        margin: 5%;
    }
}
