* {
    font-family:'Open Sans',sans-serif;
    box-sizing: border-box;
}
/*Section*/
#rb-video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*Button to go in the video*/
.rb-btn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}
.rb-btn .rb-play {
    position: relative;
    width: 80px;
    height: 80px;
    background: rgb(159, 204, 92);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px  red;
    cursor: pointer;
    transition: 0.5s;
}
.rb-btn .rb-play::before {
    content: '';
    position: absolute;
    border: 25px solid white;
    border-top: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 15px solid transparent;
    transform: translateX(5px);
}
/*Hide button when video is shown, and background get color*/
.rb-play.hide-button {
    background-color: rgb(152, 221, 157);
}
/*Content before the button remove*/
.rb-play.hide-button::before {
    content: none;
}
.rb-btn p {
    margin-top: 10px;
    margin-left: -8px;
    font-weight: 500;
    font-size: 1em;
    color: gray;
    letter-spacing: 4px;
    text-transform: uppercase;
}
/*Design the button to enter the video*/
.rb-btn.rb-active .rb-play {
    box-shadow: 0 0 0 150vh rgb(152, 221, 157);
}
.rb-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: 0.5s;
}
.rb- rb.active {
    display: none;
}
.rb-video.rb-active {
    transform: translate(-50%, -50%) scale(1);
    transition-delay: 0.5s;
}
.rb-video video {
    width: 300px;
    border: 7px solid black;
    box-shadow: 0 15px 35px black
}
/*Design of button for close the video*/
.rb-video .rb-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}